
<div class="">
    <div>
        <div class="row">
            <div class="col-md-3 m-2">
                <div class="card">
                    <div class="card-body p-0 pb-1">
                        <h5 class="card-title text-center">Special title treatment</h5>
                        <p class="card-text text-center" appCounterSinppet>20</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary text-center">Flowz</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 m-2">
                <div class="card">
                    <div class="card-body p-0 pb-1">
                        <h5 class="card-title text-center">Special title treatment</h5>
                        <p class="card-text text-center" appCounterSinppet>48</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary text-center">Flowz</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3 m-2">
                <div class="card">
                    <div class="card-body p-0 pb-1">
                        <h5 class="card-title text-center">Special title treatment</h5>
                        <p class="card-text text-center" appCounterSinppet>101</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-primary text-center">Flowz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>   

<div class="content">
    <!-- <h1 class="text-center">Dashboard</h1> -->
    <div id="chartdiv"></div>
</div>
<div class="">
    <div class="row">
        <div class="col-6">
            <div class="m-3 card">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Name</th>
                            <th class="text-center">Completed</th>
                            <th class="text-center">Pending</th>
                            <th class="text-center">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-center font-weight-light">1</th>
                            <td class="text-center">Mohamed AshrafAli</td>
                            <td class="text-success text-center">35</td>
                            <td class="text-danger text-center">5</td>
                            <td class="text-center">
                                <a class="text-primary" [routerLink]="['/','super','admin','user','1']">
                                    <i style="color: #2a625b;" class="icofont-eye" ></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center font-weight-light">2</th>
                            <td class="text-center">Willaim Smith</td>
                            <td class="text-success text-center">50</td>
                            <td class="text-danger text-center">12</td>
                            <td class="text-center">
                                <a class="text-primary" [routerLink]="['/','super','admin','user','2']">
                                    <i style="color: #2a625b;" class="icofont-eye"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" class="text-center font-weight-light">3</th>
                            <td class="text-center">Jhon Babu & co</td>
                            <td class="text-success text-center">150</td>
                            <td class="text-danger text-center">25</td>
                            <td class="text-center">
                                <a class="text-primary" [routerLink]="['/','super','admin','user','3']">
                                    <i style="color: #2a625b;" class="icofont-eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- <div class="area" >
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div > -->