<div class="">
    <div id="chartdiv"></div>
</div>
<div>
    <div class="row">
        <div class="col">
            <div class="m-3 card">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">finshed count</th>
                            <th scope="col">Pending Count</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td class="text-success">1</td>
                            <td class="text-danger">2</td>
                            <td>
                                <a class="text-primary" [routerLink]="['/','super','admin','user','1']">
                                    <i class="icofont-eye"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>kesava</td>
                            <td class="text-success">1</td>
                            <td class="text-danger">2</td>
                            <td>
                                <a class="text-primary" [routerLink]="['/','super','admin','user','1']">
                                    <i class="icofont-eye"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>raja</td>
                            <td class="text-success">1</td>
                            <td class="text-danger">2</td>
                            <td>
                                <a class="text-primary" [routerLink]="['/','super','admin','user','1']">
                                    <i class="icofont-eye"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>rai</td>
                            <td class="text-success">1</td>
                            <td class="text-danger">2</td>
                            <td>
                                <a class="text-primary pointer" [routerLink]="['/','super','admin','user','1']">
                                    <i class="icofont-eye"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- <div class="area" >
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div > -->