.card-cus{
    width: 435px;
}
img {
    width: 100%;
}
//CUSTOME CADE
.card-view {
    margin: 20px;
    margin-left: 70px;
    width: fit-content;
}
.arrow-right {
  top: 31px;
  left: 29px;
}
.arrow {
    padding: 9px 12px;
    font-size: 25px;
    background: #00000021;
    color: white;
    border-radius: 50%;
}
.arrow-postion {
    position: relative;
    right: 28px;
    z-index: 2;
    margin-top: 90px;
}
.arrow-left {
  top: 30px;
  right: 6px;
}
.pic {
    width: 118px;
    margin: 3px;
    background-color: gray;
    position: relative;
    right: 77px;
}
