.card-cus{
    width: 435px;
}
img {
    width: 100%;
}
.card-view {
    margin: 20px;
    margin-left: 70px;
    width: fit-content;
}
.blink_me {
    animation: blinker 1s linear infinite;
    color: #96535c;
  }
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }
.arrow {
    padding: 2px 9px;
    font-size: 25px;
    background: #daa7a75e;
    border-radius: 50%;
}

.arrow-postion {
    position: relative;
    right: 21px;
    z-index: 2;
    margin-top: 90px;
}
.pic {
    width: 118px;
    margin: 3px;
    background-color: gray;
    position: relative;
    right: 77px;
}

.test {
    position: relative;
    width: 160px;
    height: 153px;
    background-color: black;
}
.circle {
    position: absolute;
    top: 59px;
    left: 59px;
  color: whitesmoke;
}

