<h2 class="heading-right">Registration</h2>
<div class="conten">
  <h1 class="text-center">Registration</h1>
  <div class="middle">
    <label>
    <input type="radio" name="radio" (click)="chooseUserType('emp')" checked/>
    <div class="front-end box">
      <span>New Employe</span>
    </div>
  </label>
    <label>
    <input type="radio" name="radio" (click)="chooseUserType('broker')"/>
    <div class="back-end box">
      <span>New Broker</span>
    </div>
  </label>
  </div>
  <div >
    <!-- Type Emp -->
  <div *ngIf="isTypeEmp">
    <form name="empForm" (ngSubmit)="onSubmit('emp')" #employee="ngForm" novalidate>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <fieldset class="border p-2">
              <legend  class="w-auto"><i class="icofont-phone color"></i>&nbsp; <small>Employee's Cell Number *</small></legend>
              <input type="text" name="cellNumber"  [(ngModel)]="emp.cellNumber" #cellNumber="ngModel" autocomplete="off" pattern="^\d{10}$" required />
          </fieldset>
        </div>
        <div class="col-3 icofont-warning icofont-5x icone-left" *ngIf="employee.submitted && cellNumber.invalid" ></div>
      </div>
      <br>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <fieldset class="border p-2">
              <legend  class="w-auto"><i class="icofont-phone color"></i>&nbsp; <small>Employee's Full Name *</small></legend>
              <input type="text" name="fullName"  [(ngModel)]="emp.fullName" #fullName="ngModel"  autocomplete="off" required />
          </fieldset>
        </div>
        <div class="col-3 icofont-warning icofont-5x icone-left" *ngIf="employee.submitted && fullName.invalid" ></div>
      </div>
      <br>
      <div class="row">
        <div class="col-12 text-center">
          <div class="btn-position-cus">
            <button class="btncus btncus-outline-primary" type="submit">Registered</button>
          </div> 
        </div>
      </div>
      <br>
    </form>
  </div>
     <!-- Type Broker -->
    <div *ngIf="!isTypeEmp">
        <form name="form" (ngSubmit)="onSubmit('broker')" #broker="ngForm" novalidate>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
              <fieldset class="border p-2">
                  <legend  class="w-auto"><i class="icofont-phone color"></i>&nbsp; <small>Broker's Cell Number *</small></legend>
                  <input type="number" name="cellNumber"  [(ngModel)]="bro.cellNumber" #cellNumber="ngModel" autocomplete="off" required />
              </fieldset>
            </div>
            <div class="col-3 icofont-warning icofont-5x icone-left" *ngIf="broker.submitted && cellNumber.invalid" ></div>
          </div>
          <br>
          <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
              <fieldset class="border p-2">
                  <legend  class="w-auto"><i class="icofont-phone color"></i>&nbsp; <small>Broker's Full Name *</small></legend>
                  <input type="text" name="fullName"  [(ngModel)]="bro.fullName" #fullName="ngModel" autocomplete="off" required />
              </fieldset>
            </div>
            <div class="col-3 icofont-warning icofont-5x icone-left" *ngIf="broker.submitted && fullName.invalid" ></div>
          </div>
          <br>
          <div class="row">
            <div class="col-12 text-center">
              <div class="btn-position-cus">
                <button class="btncus btncus-outline-primary" type="submit">Registered</button>
              </div> 
            </div>
          </div>
          <br>
        </form>
    </div>
  </div>
</div>











<!-- <div class="content">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div> 
          <div class="row">
            <div class="col-4 icofont-ui-user icone-right"></div>
            <div class="col-3 input-lable">
              <input type="text" name="firstName"  [(ngModel)]="cus.firstName" #firstName="ngModel" required />
            </div>
            <div class="col-5 icofont-warning icofont-2x icone-left" *ngIf="f.submitted && firstName.invalid" ></div>
          </div>
        <br/>
          <div class="row">
            <div class="col-4 icofont-ui-user icone-right"></div>
            <div class="col-3 input-lable">
              <input type="text"  name="lastName" [(ngModel)]="cus.lastName" #lastName="ngModel" required/>
            </div>
            <div class="col-5 icofont-warning icofont-2x icone-left" *ngIf="f.submitted && lastName.invalid" ></div>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <button class="btncus btncus-outline-primary" type="submit" (click)="test()">Register</button>
          </div>
          <div class="col-4"></div>
        </div>
      </form>
</div> -->
