<div>
    <div>
        <div class="d-flex mt-3 mx-auto border" style="width:96%">
            <div style="width: 0px;z-index: 2000">
                <div class="arrow-postion" (click)="scrollLeft(-400)">
                    <div style="width: 0px;height: opx;">
                        <span class="p-3 px-3 bg-white position-relative arrow-right"></span>
                    </div>
                    <span class="arrow">
                        <i class="icofont-rounded-left position-relative" style="right: 7px;"></i>
                    </span>
                </div>
            </div>
            <div class="mt-3 d-flex" style="width: 100%;overflow: hidden;scroll-behavior: smooth;" #scroll>
                <div class="card-view float-right">
                    <div class="card card-cus">
                        <div class="card-body card-cus">
                            <div>
                                <div class="float-left" style="width: 84px;">
                                    <div class="pic">
                                        <img src="../../assets/img/COLOURBOX18770554.jpg" style="width: 100%;" />
                                    </div>
                                </div>
                                <div style="width: 400px;">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-view float-right">
                    <div class="card card-cus">
                        <div class="card-body card-cus">
                            <div>
                                <div class="float-left" style="width: 84px;">
                                    <div class="pic">
                                        <img src="../../assets/img/COLOURBOX18770554.jpg" style="width: 100%;" />
                                    </div>
                                </div>
                                <div style="width: 400px;">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-view float-right">
                    <div class="card card-cus">
                        <div class="card-body card-cus">
                            <div>
                                <div class="float-left" style="width: 84px;">
                                    <div class="pic">
                                        <img src="../../assets/img/COLOURBOX18770554.jpg" style="width: 100%;" />
                                    </div>
                                </div>
                                <div style="width: 400px;">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-view float-right">
                    <div class="card card-cus">
                        <div class="card-body card-cus">
                            <div>
                                <div class="float-left" style="width: 84px;">
                                    <div class="pic">
                                        <img src="../../assets/img/COLOURBOX18770554.jpg" style="width: 100%;" />
                                    </div>
                                </div>
                                <div style="width: 400px;">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-view float-right">
                    <div class="card card-cus">
                        <div class="card-body card-cus">
                            <div>
                                <div class="float-left" style="width: 84px;">
                                    <div class="pic">
                                        <img src="../../assets/img/COLOURBOX18770554.jpg" style="width: 100%;" />
                                    </div>
                                </div>
                                <div style="width: 400px;">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-view float-right">
                    <div class="card card-cus">
                        <div class="card-body card-cus">
                            <div>
                                <div class="float-left" style="width: 84px;">
                                    <div class="pic">
                                        <img src="../../assets/img/COLOURBOX18770554.jpg" style="width: 100%;" />
                                    </div>
                                </div>
                                <div style="width: 400px;">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-view float-right">
                    <div class="card card-cus">
                        <div class="card-body card-cus">
                            <div>
                                <div class="float-left" style="width: 84px;">
                                    <div class="pic">
                                        <img src="../../assets/img/COLOURBOX18770554.jpg" style="width: 100%;" />
                                    </div>
                                </div>
                                <div style="width: 400px;">
                                    <h5 class="card-title">Special title treatment</h5>
                                    <p class="card-text">With supporting text below as a natural lead-in to additional
                                        content.</p>
                                    <a href="#" class="btn btn-primary">Go somewhere</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div style="width: 0px;z-index: 2000;">
                <div class="arrow-postion" (click)="scrollLeft(400)">
                    <div style="width: 0px;height: opx;">
                        <span class="px-3 position-relative arrow-left" style="padding: 15.5px;border-radius: 29px 6px 0px 23px;background-color: #ffffffe0;"></span>
                    </div>
                    <span class="arrow">
                        <i class="icofont-rounded-right position-relative" style="left: 10px;bottom: 2px;"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 0px;" class="position-absolute w-100" style="top: 55px;">
        <div class="scroll">
            <div class="toast fade show toast ml-auto">
                <div class="toast-header">
                    <strong class="mr-auto"><i class="icofont-transparent"></i>CUS876354656</strong>
                    <small class="text-muted">55 minutes ago</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast"><i class="icofont-arrow-right"></i></button>
                </div>
                <div class="row toast-body">
                    <div class="col-lg-8" style="color:#6c757d">Mohamed Ashraf Ali</div>
                    <div class="col-lg-4 text-right blink_me" style="color:#295f58">Approved</div>
                </div>
            </div>
            <div class="toast fade show toast ml-auto">
                <div class="toast-header">
                    <strong class="mr-auto"><i class="icofont-transparent"></i>CUS876354656</strong>
                    <small class="text-muted">55 minutes ago</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast"><i class="icofont-arrow-right"></i></button>
                </div>
                <div class="row toast-body">
                    <div class="col-lg-8" style="color:#6c757d">Mohamed Ashraf Ali</div>
                    <div class="col-lg-4 text-right blink_me" style="color:#295f58">Approved</div>
                </div>
            </div>
        </div>
    </div>
</div>