.header-icon {
	margin-top: -59px;
    font-size: 110px;
    color: #327e90;
}
.header-token {
    color: #909699;
    font-size: 20px;
    font-weight: 300;
}
strong {
    font-size: 16px;
    color: #9b9b9b;
    font-weight: 500;
}