<h1 class="heading-right">Visa</h1>

   
  <div class="content card-container">
      <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/italy.jpg'); --angle: 7deg; --x: 10%; --y: -7%; --caption: 'Venice, 1999'"></div>

      <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/london.jpg'); --angle: -1deg; --x: -10%; --y: -20%; --caption: 'London, 2001'"></div>
  
      <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/los-angeles.jpg'); --angle: -4deg; --x: -20%; --y: 5%; --caption: 'Los Angeles - 2004'"></div>
  
      <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/italy.jpg'); --angle: 7deg; --x: 10%; --y: -7%; --caption: 'Venice, 1999'"></div>
      
      <div class="card" style="--image: url('../../assets/img/victor-ene-Cqe5Vvss-VQ-unsplash.jpg'); --angle: -5deg; --x: 5%; --y: 15%; --caption: 'Berlin in 2009'"></div>
  
  </div>

   
<!-- <div class="row">
    <div class="content card-container">
        <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/berlin.jpg'); --angle: -5deg; --x: 5%; --y: 15%; --caption: 'Berlin in 2009'"></div>

        <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/london.jpg'); --angle: -1deg; --x: -10%; --y: -20%; --caption: 'London, 2001'"></div>

        <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/los-angeles.jpg'); --angle: -4deg; --x: -20%; --y: 5%; --caption: 'Los Angeles - 2004'"></div>

        <div class="card" style="--image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/448976/italy.jpg'); --angle: 7deg; --x: 10%; --y: -7%; --caption: 'Venice, 1999'"></div>
        
        <div class="card" style="--image: url('../../assets/img/victor-ene-Cqe5Vvss-VQ-unsplash.jpg'); --angle: -5deg; --x: 5%; --y: 15%; --caption: 'Berlin in 2009'"></div>
    </div>
</div> -->


<!-- <div class="content-bill">
        <div class="modal-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-7 ml-auto">Invoice</div>
                  </div>
                  <div style="margin-top: 40px;">
              <div class="row">
                <div class="col-md-4">12/12/1991</div>
                <div class="col-md-2 ml-auto">MOhamed</div>
              </div>
            <div class="row">
                <div class="col-md-2 ml-auto">12/12/1990</div>
                </div>
                <div style="margin-top: 40px;">

              </div>
              <div class="row">
                <div class="col-md-3 ml-auto">.col-md-3 .ml-auto</div>
                <div class="col-md-2 ml-auto">.col-md-2 .ml-auto</div>
              </div>
              <div class="row">
                <div class="col-md-6 ml-auto">.col-md-6 .ml-auto</div>
              </div>
              <div class="row">
                <div class="col-sm-9">
                  Level 1: .col-sm-9
                  <div class="row">
                    <div class="col-8 col-sm-6">
                      Level 2: .col-8 .col-sm-6
                    </div>
                    <div class="col-4 col-sm-6">
                      Level 2: .col-4 .col-sm-6
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</div> -->