<h2 class="heading-right">Visa</h2>
<div class="content">
  <div class="row">
    <div class="col-6 text-left header-token">
      <strong><i class="icofont-transparent"></i>CUS876354656</strong>
    </div>
    <div class="col-6 text-right">
      <small style="color: #909699"><i class="icofont-phone-circle"></i>+91 94424-77040</small>
    </div>
  </div>
  <div class="row">
    <div class="col-12 header-icon text-center">
      <span class="icofont-brand-sk-telecom"></span>
    </div>
  </div>
</div>
<div class="content">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-6">
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="FullName" name="FullName" id='name' autocomplete="off" required />
                <label for="name" class="form__label">Select Country</label>
              </div>
        </div>
        <div class="col-2"></div>
    </div>
    <br>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-6">
            <div class="form__group field">
                <input type="text" class="form__field" placeholder="FullName" name="FullName" id='name' autocomplete="off" required />
                <label for="name" class="form__label">Passport Number</label>
              </div>
        </div>
        <div class="col-2"></div>
    </div>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-6 text-right">
      <div class="btn-position-cus">
        <button class="btncus btncus-outline-primary" (click)="payment()">Process to pay</button>
      </div> 
    </div>
    <div class="col-6 text-left">
      <div class="btn-position-cus">
        <button class="btncus btncus-outline-primary" (click)="saveTicket()">Save</button>
      </div> 
    </div>
  </div>
</div>
<div class="note">
  <strong>Notes</strong>
  <ul>
  <li>Passport application can be processed at any PSK/POPSK/PSLK WITHIN INDIA irrespective of your residential address.</li>
      <li>Please Fill <code>all mandatory</code> fields <code><span class="icofont-warning"></span></code>.</li>
  </ul>
</div>