<div class="row">
  <div class="col-6"></div>
  <div class="col-6">
    <input id="test" value="Test" type="button" (click)="test()"/>
  </div>
</div>
  <div class="wrapper" [ngClass]="{'wrapper-active': isToastActive}">
    <div id="slide">
      <div class="scroll">
        <div class="toast fade show toast ml-auto">
          <div class="toast-header">
              <strong class="mr-auto" style="color: #2a6059;"><i class="icofont-transparent"></i>CUS876354656</strong>
              <small class="text-muted">55 minutes ago</small>
              <button type="button" class="ml-0 mb-0 close" style="font-size: 19px; outline: none;" data-dismiss="toast"><i class="icofont-arrow-right"></i></button>
          </div>
          <div class="row toast-body">
              <div class="col-lg-8" style="color:#6c757d">Mohamed Ashraf Ali</div>
              <div class="col-lg-4 text-right blink_me" style="color:#295f58">Approved</div>
          </div>
        </div>
        <div class="toast fade show toast ml-auto">
          <div class="toast-header">
              <strong class="mr-auto" style="color: #2a6059;"><i class="icofont-transparent"></i>CUS876354656</strong>
              <small class="text-muted">55 minutes ago</small>
              <button type="button" class="ml-0 mb-0 close" style="font-size: 19px; outline: none;" data-dismiss="toast"><i class="icofont-arrow-right"></i></button>
          </div>
          <div class="row toast-body">
              <div class="col-lg-8" style="color:#6c757d">Mohamed Ashraf Ali</div>
              <div class="col-lg-4 text-right blink_me" style="color:#295f58">Approved</div>
          </div>
        </div>
        <div class="toast fade show toast ml-auto">
          <div class="toast-header">
              <strong class="mr-auto" style="color: #2a6059;"><i class="icofont-transparent"></i>CUS876354656</strong>
              <small class="text-muted">55 minutes ago</small>
              <button type="button" class="ml-0 mb-0 close" style="font-size: 19px; outline: none;" data-dismiss="toast"><i class="icofont-arrow-right"></i></button>
          </div>
          <div class="row toast-body">
              <div class="col-lg-8" style="color:#6c757d">Mohamed Ashraf Ali</div>
              <div class="col-lg-4 text-right blink_me" style="color:#295f58">Approved</div>
          </div>
        </div>
        <div class="toast fade show toast ml-auto">
          <div class="toast-header">
              <strong class="mr-auto" style="color: #2a6059;"><i class="icofont-transparent"></i>CUS876354656</strong>
              <small class="text-muted">55 minutes ago</small>
              <button type="button" class="ml-0 mb-0 close" style="font-size: 19px; outline: none;" data-dismiss="toast"><i class="icofont-arrow-right"></i></button>
          </div>
          <div class="row toast-body">
              <div class="col-lg-8" style="color:#6c757d">Mohamed Ashraf Ali</div>
              <div class="col-lg-4 text-right blink_me" style="color:#295f58">Approved</div>
          </div>
        </div>
      </div>
    </div>
  </div>


