h1 {
    margin-top: 50px;
	font-family: none;
	font-size: 58px;
    margin-bottom: 0px;
    color: #327e90;
}

.color {
    color: #327e90;
}

input {
    vertical-align: text-bottom;
    width: 80%;
    font-size: 32px;
    padding: 0px;
    border: none;
    color: #327e90;
    margin-left: 100px;
    text-transform: capitalize;
    outline: none;
}

small {
    color: #327e90;
    font-family: none;
    font-weight: 400;
}