<h1 class="heading-right">Ticket</h1>
<div class="content">
    <div class="row">
        <div class="row">
            <div class="col-1 icofont-ui-flight icon"></div>
            <div class="col-1">
                <input class="input-cus"  type="text"  placeholder="From"/>
            </div>
        </div>
        <div class="row">
            <div class="col-1 icofont-ui-flight icon"></div>
            <div class="col-1">
                <input class="input-cus" type="text"  placeholder="To"/>
            </div>
        </div>
        <div class="row">
            <div class="col-1 icofont-calendar icon"></div>
            <div class="col-1">
                <input class="input-cus" type="date"  placeholder="Date"/>
            </div>
        </div>
        <div class="row">
            <div class="col-1 icofont-calendar icon"></div>
            <div class="col-1">
                <input class="input-cus" type="date"  placeholder="Date"/>
            </div>
        </div>
        <div class="row">
            <div class="col-1 icofont-ui-user icon"></div>
            <div class="col-1">
                <div class="box">
                    <select name="genter">
                      <option value="single">1</option>
                      <option value="married">2</option>
                    </select>
                  </div>
            </div>
        </div>
        
        <div class="col-2">
            <button class="btncus btncus-outline-primary">Search</button>
        </div>
      </div>
</div>

<div class="content boarding-pass">
	<div class="row">
		<img src="assets/img/ashraf.png" style="width: 18%;margin-left: 247px;">
	</div>
	<div class="cities">
	  <div class="city">
		<small>Roma</small>
		<strong>FCO</strong>
	  </div>
	  <div class="city">
		<small>Napoli</small>
		<strong>NAP</strong>
	  </div>
	  <svg class="airplane">
		<use xlink:href="#airplane"></use>
	  </svg>
	</div>
	<div class="style4">
	</div>
	<div class="cities">
		<div class="city">
		  <small>DATE</small>
		  <strong>12/10/2020</strong>
		</div>
	  </div>
	<div class="style4">
	</div>
	<div class="row">
		<img src="../../assets/img/barcode_PNG7.png" style="margin-top: 8px;margin-left: 54px;height: 61px;">
	</div>
</div>
<svg >
	<symbol  id="airplane" viewBox="243.5 245.183 25 21.633"><g><path fill="#2c655e" d="M251.966,266.816h1.242l6.11-8.784l5.711,0.2c2.995-0.102,3.472-2.027,3.472-2.308 c0-0.281-0.63-2.184-3.472-2.157l-5.711,0.2l-6.11-8.785h-1.242l1.67,8.983l-6.535,0.229l-2.281-3.28h-0.561v3.566 c-0.437,0.257-0.738,0.724-0.757,1.266c-0.02,0.583,0.288,1.101,0.757,1.376v3.563h0.561l2.281-3.279l6.535,0.229L251.966,266.816z"/></g></symbol>
</svg>




