<header id="">
	<nav class="links" style="--items: 5;">
		<a routerLink="/emp/screen/passport">PassPort</a>
		<a routerLink="/emp/screen/ticket">Ticket</a>
		<a routerLink="/emp/screen/xerox">Xerox</a>
		<a routerLink="/emp/screen/visa">Visa</a>
		<a routerLink="/emp/screen/detail">Detail(s) Screen</a>
		<span class="line"></span>
	</nav>
</header>
<!-- <div class="row">
	<div class="col-6">
	  <div class="form">
		<input class="search-input" type="search"/>
		<i class="fa icofont-search-user"></i>
	  </div>
	</div>
  </div> -->
  <div class="wrapper bg-white">
	<!-- Sidebar  -->
	<nav id="sidebar">
		<div style="width: 0px;height: 0;">
			<div class="line-vertical"></div>
		</div>
		<ul class="list-unstyled ml-3 mt-3" (click)="selectedElement()">
			<li class="text-muted"  routerLinkActive="active">
				<a routerLink="/emp/screen/passport">PassPort</a>
			</li>
			<li  class="text-muted"  routerLinkActive="active">
				<a routerLink="/emp/screen/ticket">Ticket</a>
			</li>
			<li  class="text-muted"  routerLinkActive="active">
				<a routerLink="/emp/screen/xerox">Xerox</a>
			</li>
			<li  class="text-muted"  routerLinkActive="active">
				<a routerLink="/emp/screen/visa">Visa</a>
			</li>
			<li  class="text-muted" routerLinkActive="active">
				<a routerLink="/emp/screen/detail">Detail(s) Screen</a>
			</li>
		</ul>
	</nav>

	<!-- Page Content  -->
	<div id="content">
		<router-outlet></router-outlet>
	</div>
</div>







  

