.cell-number:focus{
	outline-offset: -50px !important;
}
.input-lable {
	text-align:left;
	padding-left: 0px;
}
.iphone-icone {
	color:#2c645d;;
	text-align: right;
	padding-right: 1px;
	bottom: 10px;
	font-size: 31px;
}
.icone-left-special {
	margin-top: 6px;
	color: #ab333e;
	text-align:left;
	padding-left: 0px;
	top: -11px;
}

