<h1 class="heading-right">Passport</h1>
<div class="content" style="margin-top: 3px;">
    <h2 style="text-align: center; margin-bottom: 20px;">Apply  Passport</h2>
    <div class="inputContainer" style="margin-top: -10%;">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div> 
          <div class="row">
            <div class="col-4 icofont-iphone iphone-icone"></div>
              <div class="col-5">
                <input  class="input-cus" type="text" class="cell-number" style="border-radius: 0px;"  maxlength= "10" name="cell" [(ngModel)]="cus.cell" (input)="numberValidate($event)" #cell="ngModel" required/>
              </div>
              <div class="col-3 icofont-warning icofont-2x icone-left-special" *ngIf="f.submitted && cell.invalid" ></div>
          </div>
        <br />
          <div class="row">
              <div class="col-4 icofont-ui-v-card icone-right"></div>
              <div class="box">
                <select name="gender" [(ngModel)]="cus.gender">
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div>
        <br/> 
          <div class="row">
            <div class="col-4 icofont-ui-user icone-right"></div>
            <div class="col-3 input-lable">
              <input class="input-cus" type="text" name="firstName" placeholder="First Name" [(ngModel)]="cus.firstName" #firstName="ngModel" required />
            </div>
            <div class="col-5 icofont-warning icofont-2x icone-left" *ngIf="f.submitted && firstName.invalid" ></div>
          </div>
        <br/>
          <div class="row">
            <div class="col-4 icofont-ui-user icone-right"></div>
            <div class="col-3 input-lable">
              <input class="input-cus" type="text"  name="lastName" placeholder="Last Name" [(ngModel)]="cus.lastName" #lastName="ngModel" required/>
            </div>
            <div class="col-5 icofont-warning icofont-2x icone-left" *ngIf="f.submitted && lastName.invalid" ></div>
          </div>
        <br />
          <div class="row">
            <div class="col-4 icone-right icofont-calendar"></div>
            <div class="col-3 input-lable">
              <input class="input-cus" placeholder="Date Of Birth" type="date" name="dob" [(ngModel)]="cus.dob" #dob="ngModel" required/>
            </div>
            <div class="col-5 icofont-warning icofont-2x icone-left" *ngIf="f.submitted && dob.invalid" ></div>
          </div>
        <br/>
          <div class="row">
            <div class="col-4 icofont-ui-user icone-right"></div>
            <div class="col-3 input-lable">
              <input class="input-cus" placeholder="Mother Name" type="text" name="motherName" [(ngModel)]="cus.motherName" #motherName="ngModel" required/>
            </div>
            <div class="col-5 icofont-warning icofont-2x icone-left" *ngIf="f.submitted && motherName.invalid" ></div>
          </div>
        <br />
          <div class="row">
              <div class="col-4 icofont-ui-v-card icone-right"></div>
              <div class="box">
                <select name="genter" [(ngModel)]="cus.mrg">
                  <option value="single">Single</option>
                  <option value="married">Married</option>
                </select>
              </div>
            </div>
        <br *ngIf="cus.mrg == 'married'"/>
          <div class="row" *ngIf="cus.mrg == 'married'">
            <div class="col-4 icofont-ui-user icone-right"></div>
            <div class="col-3 input-lable">
              <input class="input-cus" placeholder="Spouse Name" type="text" name="spouseName" [(ngModel)]="cus.spouseName" #spouseName="ngModel"/>
            </div>
          </div>
        <br />
          <div class="row">
            <div class="col-4 icone-right icofont-police"></div>
            <div class="col-3 input-lable">
              <input class="input-cus" placeholder="Police Station" type="text" name="policeStation" [(ngModel)]="cus.policeStation" #policeStation="ngModel" required/>
            </div>
            <div class="col-5 icofont-warning icofont-2x icone-left" *ngIf="f.submitted && policeStation.invalid" ></div>
          </div>
        <br/>
          <div class="row">
            <div class="col-4 icone-right icofont-address-book"></div>
            <div class="col-3 input-lable">
              <input class="input-cus" placeholder="Street Name" type="text" name="streetName" [(ngModel)]="cus.streetName" #streetName="ngModel" required/>
            </div>
            <div class="col-5 icofont-warning icofont-2x icone-left" *ngIf="f.submitted && streetName.invalid" ></div>
          </div>
        <br />
          <div class="row">
            <div class="col-4 icone-right icofont-address-book"></div>
            <div class="col-3 input-lable">
              <input class="input-cus" placeholder="Post & Taluk" type="text" name="postAndTaluk" [(ngModel)]="cus.postAndTaluk" #postAndTaluk="ngModel" required/>
            </div>
            <div class="col-5 icofont-warning icofont-2x icone-left" *ngIf="f.submitted && postAndTaluk.invalid" ></div>
          </div>
        <br />
          <div class="row">
            <div class="col-4 icone-right icofont-address-book"></div>
            <div class="col-3 input-lable">
              <input class="input-cus" placeholder="District" type="text"  name="district" [(ngModel)]="cus.district" #district="ngModel" required/>
            </div>
            <div class="col-5 icofont-warning icofont-2x icone-left" *ngIf="f.submitted && district.invalid" ></div>
          </div>
        <br/>
        <div class="row">
          <div class="col-4 icofont-google-map iphone-icone"></div>
            <div class="col-2">
              <input class="input-cus" type="text" name="pincode" class="pincode" style="border-radius: 0px;" maxlength='6' [(ngModel)]="cus.pincode" (input)="numberValidate($event)" #pincode="ngModel" required/>
            </div>
            <div class="col-5 icofont-warning icofont-2x icone-left" *ngIf="f.submitted && pincode.invalid" ></div>
        </div>
        <br />
          <div class="row">
            <div class="col-4 icone-right icofont-address-book"></div>
            <div class="col-3 input-lable">
              <input class="input-cus" placeholder="Sate" type="text"  value="Tamil Nadu"/></div>
          </div>
        <br/>
          <div class="row">
            <div class="col-4 icofont-ui-v-card icone-right"></div>
            <div class="box">
              <select name="passportType" [(ngModel)]="cus.passportType">
                <option value="fresh">Fresh</option>
                <option value="reissue">Reissue</option>
              </select>
            </div>
          </div>
          <br/>
          <div class="row" *ngIf="cus.passportType == 'reissue'">
            <div class="col-4 icofont-ui-v-card icone-right"></div>
            <div class="box">
              <select>
                <option value="fresh">Fresh</option>
                <option value="reissue">Reissue</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4"></div>
          <div class="col-4">
            <button class="btncus btncus-outline-primary" (click)="savePassport()">Register</button>
          </div>
          <div class="col-4"></div>
          
        </div>
      </form>
    </div>
</div>
<div class="content">
    <strong>Notes</strong>
    <ul>
    <li>Passport application can be processed at any PSK/POPSK/PSLK WITHIN INDIA irrespective of your residential address.</li>
        <li>Please Fill <code>all mandatory</code> fields <code><span class="icofont-warning"></span></code>.</li>
    </ul>
</div>


<button type="button" #demomodel class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong" style="display: none;">
  Launch demo modal
</button> 
<div class="modal" id="exampleModalLong"  tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content"> 
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body">
        <div class="row">
          <div class="card front">
              <div class="blue"></div>
              <div class="yellow"></div>
              <div class="pink"></div>
              <div class="dots"></div>
              <div class="personal-intro">
                  <div class="row">
                      <div class="col-6"></div>
                      <div class="col-6 text-right">
                          <img class="img-cus" src="assets/img/ashraf.png">
                      </div>
                  </div>
                  <br>
                  <div class="ribbon">
                      <span class="ribbon3">CUS5678965432 / APPROVED / 12-JAN-20 / FRESH / PAID&nbsp;</span>
                  </div>
                  <div class="ribbon-one">
                      <span class="ribbon3">MOHAMEDASHRAFALI</span>
                  </div>
                  <div class="ribbon-two">
                      <span class="ribbon3">ASHRAF123</span>
                  </div>
                  <!-- <div class="test">
                      <svg width="132" height="132">
                          <circle cx="66" cy="66" r="65" fill="none" stroke="#ffff" stroke-width="2" />
                          <circle cx="66" cy="66" r="65" fill="none" stroke="#ffff" stroke-width="2" />
                          <circle cx="66" cy="66" r="48" fill="none" stroke="#ffff" stroke-width="1" />
                          <circle cx="66" cy="66" r="46" fill="none" stroke="#ffff" stroke-width="1" />
                          <defs>
                            <path id="text-path" d="M66 126A60 60 0 1 0 66 6a60 60 0 0 0 0 120" fill="none"/>
                          </defs>
                          <text dominant-baseline="middle" text-anchor="middle" x="50%" y="51%" font-family="Manrope3-ExtraBold, Manrope3" font-size="50" font-weight="100" fill="none" stroke="#ffff" stroke-width="2" >Paid</text>
                          <text>
                            <textPath xlink:href="#text-path" font-family="Manrope3-ExtraBold, Manrope3" font-size="10" font-weight="600" fill="#ffff" letter-spacing="2.14">•DOWNLOAD LATEST VERSION•MANROPE FONT FAMILY</textPath>
                        </text>
                        </svg>
                  </div> -->
                  <div class="row">
                      <div class="col-6 text-right"><small>Cell :</small></div>
                      <div class="col-6 text-left p-0"><p>9566340416</p></div>
                  </div>
                  <div class="row">
                      <div class="col-6 text-right"><small>Given Name :</small></div>
                      <div class="col-6 text-left p-0"><p>Mohamed Ashraf Ali</p></div>
                  </div>
                  <div class="row">
                      <div class="col-6 text-right"><small>Surname :</small></div>
                      <div class="col-6 text-left p-0"><p>Liyagath Ali</p></div>
                  </div>
                  <div class="row">
                      <div class="col-6 text-right"><small>Mother Name :</small></div>
                      <div class="col-6 text-left p-0"><p>Mahabunisha</p></div>
                  </div>
                  <div class="row">
                      <div class="col-6 text-right"><small>Spouse Name :</small></div>
                      <div class="col-6 text-left p-0"><p>Gowhar Jahan</p></div>
                  </div>
                  <div class="row">
                      <div class="col-6 text-right"><small>Gender :</small></div>
                      <div class="col-6 text-left p-0"><p>Male</p></div>
                  </div>
                  <div class="row">
                      <div class="col-6 text-right"><small>Qualification :</small></div>
                      <div class="col-6 text-left p-0"><p>12</p></div>
                  </div>
                  <div class="row">
                      <div class="col-6 text-right"><small>Aadhaar :</small></div>
                      <div class="col-6 text-left p-0"><p>8765-4567-89</p></div>
                  </div>
                  <div class="row">
                      <div class="col-6 text-right"><small>Voit Id :</small></div>
                      <div class="col-6 text-left p-0"><p>ZX1234567</p></div>
                  </div>
                  <div class="row">
                      <div class="col-6 text-right"><small>Police Station :</small></div>
                      <div class="col-6 text-left p-0"><p>Ulundrpet</p></div>
                  </div>
                  <div class="row">
                      <div class="col-6 text-right"><small>Address :</small></div>
                      <div class="col-6 text-left p-0"><p>No.61 / g Kaitha Millath Street, Ulundurpet Taluk, Villupuram District</p></div>
                  </div>
                  <div class="row">
                      <div class="col-6 text-right"><small>Pin Code :</small></div>
                      <div class="col-6 text-left p-0"><p>606107</p></div>
                  </div>
                  <div class="row">
                      <div class="col-6 text-right"><small>State :</small></div>
                      <div class="col-6 text-left p-0"><p>Tamil Nadu</p></div>
                  </div>
                  <div class="btn-position-cus">
                  <button class="btncus btncus-outline-primary">Process to pay</button>
              </div> 
              </div>
            </div>
      </div>
      </div>
      <!-- <div class="modal-footer">
        <button class="btncus btncus-outline-primary">Process to pay</button>
      </div> -->
    </div>
  </div>
</div>
 <!-- TOAST Message -->
<div>
  <div style="height: 0px;" class="position-absolute w-25" style="top: 55px; right: 2px;">
      <div class="scroll">
          <div class="toast fade show toast ml-auto">
              <div class="toast-header">
                  <strong class="mr-auto" style="color: #2a6059;"><i class="icofont-transparent"></i>CUS876354656</strong>
                  <small class="text-muted">55 minutes ago</small>
                  <button type="button" class="ml-0 mb-0 close" style="font-size: 19px; outline: none;" data-dismiss="toast"><i class="icofont-arrow-right"></i></button>
              </div>
              <div class="row toast-body">
                  <div class="col-lg-8" style="color:#6c757d">Mohamed Ashraf Ali</div>
                  <div class="col-lg-4 text-right blink_me" style="color:#295f58">Approved</div>
              </div>
          </div>
          <div class="toast fade show toast ml-auto">
            <div class="toast-header">
                <strong class="mr-auto" style="color: #2a6059;"><i class="icofont-transparent"></i>CUS876354656</strong>
                <small class="text-muted">55 minutes ago</small>
                <button type="button" class="ml-0 mb-0 close" style="font-size: 19px; outline: none;" data-dismiss="toast"><i class="icofont-arrow-right"></i></button>
            </div>
            <div class="row toast-body">
                <div class="col-lg-8" style="color:#6c757d">Paramasivam</div>
                <div class="col-lg-4 text-right blink_me" style="color:#295f58">Approved</div>
            </div>
        </div>
      </div>
  </div>
</div>