.header-icon {
	margin-top: -59px;
    font-size: 110px;
    color: #327e90;
}
.header-token {
    color: #909699;
    font-size: 20px;
    font-weight: 300;
}
strong {
    font-size: 16px;
    color: #9b9b9b;
    font-weight: 500;
}
//Radio Button
.box {
    margin-left: 1px !important;
    margin-top: 10px !important;
  }
  .middle input[type="radio"]:checked + .box span {
    transform: translateY(10px);
  }
  .middle input[type="radio"]:checked + .box span:before {
    transform: translateY(0px);
    opacity: 1;
  }
  .middle .box {
    width: 177px;
    height: 102px;
    font-weight: 100;
  }
  .middle .box:active {
    transform: translateY(3px);
  }
  .middle .box span {
    transform: translate(0, -20px);
  }
  .middle .box span:before {
    line-height: 1.8em;
    font-size: 1.2em;
    transform: translateY(-20px);
  }
  .middle .front-end span:before {
    content: '\ead2';
  }
  .middle .back-end span:before {
    content: '\ebe6';
  }



  